{% assign services = include.services %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h5 class="border-bottom border-gray p-3 mb-0">
        <i class="fab fa-hubspot"></i> Academic Services
    </h5>
    <div class="d-none d-md-block">     
    <div class="row no-gutters border-bottom border-gray">
        <div class="col p-3 ml-md-2">
            <p class="mt-0 mb-1 font-weight-Normal"><small><i class="fa fa-calendar-check"></i></small> Journal Service: Transportation Safety and Environment (Youth Editorial Board Member).</p>
            <p class="mt-0 mb-1 font-weight-Normal"><small><i class="fas fa-balance-scale"></i></small> Journal Reviewer: IEEE TKDE, IEEE TIFS, IEEE TNNLS, IEEE TCYB, IEEE TITS, IEEE TSMC, PR, NN, ESWA, KBS, TRC.</p>
            <p class="mt-0 mb-1 font-weight-Normal"><small><i class="fas fa-spinner"></i></small> Conference Service: ITQM'24- (Track Chair), IJCNN'25 (Area Chair).</p>
            <p class="mt-0 mb-1 font-weight-Normal"><small><i class="fas fa-asl-interpreting"></i></small> Conference Reviewer: IJCAI'25, KDD'25 (Outstanding Reviewer (Top 10%)), ICCV'25, AAAI'25, WWW'25, MICCAI'25, ECAI'25.</p>
        </div>
    </div>
    </div>
</div>
