{% assign students = include.students %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h5 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-child"></i> Students
    </h5>
    
    <div class="d-none d-md-block">     
    <div class="row no-gutters border-bottom border-gray">
        <div class="col p-3 ml-md-2">
            <div class="my-1 d-flex"> 
                <div><i class="fas fa-circle"></i> Qiurui Huang </div>
                <div class="ml-auto mt-auto text-muted no-break"><i>2024-Now</i></div>
            </div>
            <div class="my-1 d-flex"> 
                <div><i class="fa fa-circle"></i> Can Zhang; Co-advise: Sicheng He</div>
                <div class="ml-auto mt-auto text-muted no-break"><i>2023-Now</i></div>
            </div>
            <div class="my-1 d-flex"> 
                <div><i class="fa fa-circle-o"></i> Co-advise: Jing He (M.S.), Runfeng Zhao (M.S.) </div>
                <div class="ml-auto mt-auto text-muted no-break"><i>2022-2024</i></div>
            </div>
            <div class="my-1 d-flex"> 
                <div><i class="fa fa-circle-o"></i> Co-advise: Hao Jia (M.S.) </div>
                <div class="ml-auto mt-auto text-muted no-break"><i>2021-2023</i></div>
            </div>
            <div class="my-1 d-flex"> 
                <div><i class="fa fa-circle-o"></i> Co-advise: Yating Ren (M.S.), Fan Yu (M.S.), Le Yu (M.S.) </div>
                <div class="ml-auto mt-auto text-muted no-break"><i>2020-2022</i></div>
            </div>
            <div class="my-1 d-flex"> 
                <div><i class="fa fa-circle-o"></i> Co-advise: Ye Liang (M.S.)</div>
                <div class="ml-auto mt-auto text-muted no-break"><i>2019-2021</i></div>
            </div>
        </div>
    </div>
    </div>
    
</div>
