{% assign students = include.students %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-child"></i> Students
    </h6>
    <div>
    <h6> 2024: Jing He (贺静); Runfeng Zhao (赵润峰)</h6>
    <h6> 2023: Hao Jia (贾浩)</h6>
    <h6> 2022: Yating Ren (任亚亭); Fan Yu (于帆); Le Yu (于乐)</h6>
    <h6> 2021: Ye Liang (梁烨)</h6>
    </div>
</div>


<div class="col-md-6">
    <div class="mx-2 my-1">
        <i class="fas fa-child"></i> Students
        <ul class="list small pl-3 mb-1">
            <li>
                <div class="d-flex">
                    <div class="ml-auto mt-auto no-break"><em>{2024}</em></div>
                    <div>{Jing He}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

